/auto_install-stamp
/build-stamp
/builddir/
/configure-stamp
/debian/.debhelper/
/debian/files
/debian/libmysqlclient-dev.debhelper.log
/debian/libmysqlclient-dev.substvars
/debian/libmysqlclient-dev/
/debian/libmysqlclient20.debhelper.log
/debian/libmysqlclient20.substvars
/debian/libmysqlclient20/
/debian/libmysqld-dev.debhelper.log
/debian/libmysqld-dev.substvars
/debian/libmysqld-dev/
/debian/mysql-client-5.7.debhelper.log
/debian/mysql-client-5.7.substvars
/debian/mysql-client-5.7/
/debian/mysql-client-core-5.7.debhelper.log
/debian/mysql-client-core-5.7.substvars
/debian/mysql-client-core-5.7/
/debian/mysql-client.debhelper.log
/debian/mysql-client.substvars
/debian/mysql-client/
/debian/mysql-server-5.7.debhelper.log
/debian/mysql-server-5.7.postinst.debhelper
/debian/mysql-server-5.7.postrm.debhelper
/debian/mysql-server-5.7.substvars
/debian/mysql-server-5.7/
/debian/mysql-server-core-5.7.debhelper.log
/debian/mysql-server-core-5.7.substvars
/debian/mysql-server-core-5.7/
/debian/mysql-server.debhelper.log
/debian/mysql-server.substvars
/debian/mysql-server/
/debian/mysql-source-5.7.debhelper.log
/debian/mysql-source-5.7.substvars
/debian/mysql-source-5.7.tar.gz
/debian/mysql-source-5.7/
/debian/mysql-testsuite-5.7.debhelper.log
/debian/mysql-testsuite-5.7.substvars
/debian/mysql-testsuite-5.7/
/debian/mysql-testsuite.debhelper.log
/debian/mysql-testsuite.substvars
/debian/mysql-testsuite/
/debian/tmp/
